.App {
  text-align: center;
}

.Navbar {
  height: 15vh;
  width: 100vw;
  background-color: rgb(64, 12, 12);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.p {
  color: white;
}

.Main {
  height: 70vh;
  width: 40vw;
  margin-top: 2.5vw;
  border: 0.5vw solid pink;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.image {
  height: 50vh;
}

.maindiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.orders {
  height: 70vh;
  width: 70vw;
  margin-top: 2.5vw;
  border: 0.5vw solid pink;
  padding-left: 1.5vw;
  padding-right: 1.5vw;
}

.h3 {
  text-align: center;
}

.about {
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}
